<a href="https://colab.research.google.com/github/Jannahan/CM2604-ML-Coursework/blob/Develop/2409089_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Import required libraries
from google.colab import drive
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from imblearn.over_sampling import SMOTE
import matplotlib.pyplot as plt

In [3]:
# Mount Google Drive for dataset access
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
# Load the dataset
file_path = '/content/drive/My Drive/ML_Coursework/bank-additional-full.csv'
data = pd.read_csv(file_path, sep=';')

#Dataset

In [5]:
# Display dataset summary
print(data.head())
print(data.info())

   age        job  marital    education  default housing loan    contact  \
0   56  housemaid  married     basic.4y       no      no   no  telephone
1   57   services  married  high.school  unknown      no   no  telephone
2   37   services  married  high.school       no     yes   no  telephone
3   40     admin.  married     basic.6y       no      no   no  telephone
4   56   services  married  high.school       no      no  yes  telephone

  month day_of_week  ...  campaign  pdays  previous     poutcome emp.var.rate  \
0   may         mon  ...         1    999         0  nonexistent          1.1
1   may         mon  ...         1    999         0  nonexistent          1.1
2   may         mon  ...         1    999         0  nonexistent          1.1
3   may         mon  ...         1    999         0  nonexistent          1.1
4   may         mon  ...         1    999         0  nonexistent          1.1

   cons.price.idx  cons.conf.idx  euribor3m  nr.employed   y
0          93.994          -36.4      4.857       5191.0  no
1          93.994          -36.4      4.857       5191.0  no
2          93.994          -36.4      4.857       5191.0  no
3          93.994          -36.4      4.857       5191.0  no
4          93.994          -36.4      4.857       5191.0  no

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB
None

#Preprocessing

In [6]:
# Data Preprocessing
print("missing values")
print(data.isnull().sum())

print("unique values in each column")
print(data.nunique())

# Replace 'unknown' values with NaN to mark 'unknown' values as missing data (NaN),
data.replace("unknown", pd.NA, inplace=True)

# One-hot encode categorical variables
data_encoded = pd.get_dummies(data, drop_first=True)

# Encode the target column ('y')
# This step converts categorical target values into numerical format for machine learning models.
data_encoded['y'] = data['y'].map({'yes': 1, 'no': 0})

# Confirm encoding
print(data_encoded.head())

# Separate features and target
X = data_encoded.drop(columns=['y'])
y = data_encoded['y']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
print("Training and testing data split completed.")

missing values
age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64
unique values in each column
age                 78
job                 12
marital              4
education            8
default              3
housing              3
loan                 3
contact              2
month               10
day_of_week          5
duration          1544
campaign            42
pdays               27
previous             8
poutcome             3
emp.var.rate        10
cons.price.idx      26
cons.conf.idx       26
euribor3m          316
nr.employed         11
y                    2
dtype: int64
   age  duration  campaign  pdays  previous  emp.var.rate  cons.price.idx  \
0   56       261         1    999         0           1.1          93.994
1   57       149         1    999         0           1.1          93.994
2   37       226         1    999         0           1.1          93.994
3   40       151         1    999         0           1.1          93.994
4   56       307         1    999         0           1.1          93.994

   cons.conf.idx  euribor3m  nr.employed  ...  month_oct  month_sep  \
0          -36.4      4.857       5191.0  ...      False      False
1          -36.4      4.857       5191.0  ...      False      False
2          -36.4      4.857       5191.0  ...      False      False
3          -36.4      4.857       5191.0  ...      False      False
4          -36.4      4.857       5191.0  ...      False      False

   day_of_week_mon  day_of_week_thu  day_of_week_tue  day_of_week_wed  \
0             True            False            False            False
1             True            False            False            False
2             True            False            False            False
3             True            False            False            False
4             True            False            False            False

   poutcome_nonexistent  poutcome_success  y_yes  y
0                  True             False  False  0
1                  True             False  False  0
2                  True             False  False  0
3                  True             False  False  0
4                  True             False  False  0

[5 rows x 49 columns]
Training and testing data split completed.